.footer {
    min-height: 230px;
}

    .footer_block {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

        .footer_character {
            position: relative;
            top: 12px;
            
            overflow: hidden;
        }
            #footer_character {
                position: relative;
                left: -70px;
                width: 55px;
                
            }

        .footer_ground {
            height: 150px;
            padding: 20px 0;
            box-sizing: border-box;
            background: url("/images/ground.png") repeat-x;
            text-align: center;
        }

            .footer_text {
                color: white;
                text-shadow: 0 0 2px rgb(0,0,0);
                font-size: 0.9rem;
            }
            