.nav {
    height: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: linear-gradient(to bottom, #86702d, #4d4019);
    font-size: 1rem;
    text-align: center;
    overflow: hidden;
}

    .nav_link {
        display: inline-block;
        height: 40px;
        padding: 7px 15px;
        color: white;
    }

    .nav_link:hover {
        background: rgba(255,255,255,0.1);
        text-shadow: 0 0 5px rgb(0,0,0);
    }