{% extends 'base.html.twig' %}

{% block header_title %}Panneau d'administration{% endblock %}

{% block body %}
    <div class="btn">
        <a href="{{ path('admin_advert') }}"><button class="btn_brown">Rédiger une annonce</button></a>
    </div>
    <div class="btn">
        <a href="{{ path('admin_user') }}"><button class="btn_brown">Gestion utilisateur</button></a>
    </div>
{% endblock %}