.forum_partie_title {
    font-family: 'EnchantedLand', serif;
    font-size: 3rem;
}

    .forum_section,
    .forum_section_add {
        display: inline-block;
        height: 80px;
        width: 250px;
        margin: 2%;
        padding: 5px;
        vertical-align: top;
    }

        .forum_section_title {
            text-align: center;
            font-weight: bold;
            margin: 3px;
        }

        .forum_list_post {
            text-align: left;
            padding: 1%;
        }

            .forum_list_post_title {
                font-weight: bold;
            }

            .forum_list_post_descrition {
                display: inline-block;
                font-style: italic;
            }